.banniere {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-left: 50px;
}

.gridElt {
    margin: 80px;
    position: relative
}

.pics {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 5%;
}

.title {
    color: white;
    position: absolute;
    font-size: 13px;
    bottom: 10%;
    left: 10%
}