.CtnError{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.Error404 {
    color: #FF6060;
    font-size: 200px;
    margin: 0;
}

.ErrorText {
    font-size: 22px;
    color: #FF6060;

}

.ErrorRedirection {
    margin-top: 200px;
    color: #FF6060;
    text-decoration: underline;
}