.author {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 18px;
    color: #FF6060;
    font-weight: 500;
}

.profilPic {
    border-radius: 100%;
    margin-right: 6%;
}

@media screen and (max-width: 1000px) { 
    .profilPic {
        margin-top: 4%;
        height: 60px;
    }

    .name {
        font-size: 18px;
        margin-top: 8%;
        margin-left: 10%;
    }
}