.banniere {
    display: flex;
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    height: 223px;
}

img {
    object-fit: cover;
}


.aboutCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}