.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 5%;
}

.logo {
    height: 100px; 
    width : 250px;
    cursor: pointer;
}

.menu {
    display: flex;
    margin-right: 6%
}

a {
    padding: 20px;
    color: #FF6060;
    cursor: pointer;
    font-weight: 500
}

a:hover {
    text-decoration: underline;
}

