.footer {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px
}

.description {
    display: flex;
    justify-content: space-around;
}


.rights {
    color: white;
}

.kasa {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .footer {
        margin-top: 50px
    }
}